:root {
  font-family: "Anton", sans-serif;

  --bg-color-light: #dfc6a0;
  --bg-color-dark: #242424;
  --bg-color-t-light: #dfc6a000;
  --bg-color-t-dark: #2424240a;
  --color-light: #242424;
  --color-dark: #efedea;
  --color2-light: #004aad;
  --color2-dark: #f6821f;
  --filter-light: brightness(0) saturate(100%) invert(12%) sepia(17%) saturate(0%) hue-rotate(213deg) brightness(125%) contrast(105%);
  --filter-dark: brightness(0) saturate(100%) invert(100%) sepia(48%) saturate(398%) hue-rotate(295deg) brightness(103%) contrast(87%);
  --ttime: 0.5s;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
  color: var(--color);
  text-align: center;
  transition: background-color var(--ttime) ease, color var(--ttime) ease;
}

body.light {
  --bg-color: var(--bg-color-light);
  --bg-color-t: var(--bg-color-t-light);
  --color: var(--color-light);
  --color2: var(--color2-light);
  --filter: var(--filter-light);
}

body.dark {
  --bg-color: var(--bg-color-dark);
  --bg-color-t: var(--bg-color-t-dark);
  --color: var(--color-dark);
  --color2: var(--color2-dark);
  --filter: var(--filter-dark);
}

.outline {
  display: inline;
  color: var(--bg-color);
  font-size: 1.2rem;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color);
  transition: color var(--ttime) ease, -webkit-text-stroke-color var(--ttime) ease;
  
}

.outline {
  -webkit-text-stroke-color: var(--color2);
  transition: -webkit-text-stroke-color var(--ttime) ease;
}

.svgs {
  margin-top: 4rem;
  filter: var(--filter);
  transition: filter var(--ttime) ease;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: var(--color);
  background-color: var(--bg-color);
  border-color: var(--color);
  transition: border-color var(--ttime), color var(--ttime);
}
/*
button:hover {
  border-color: var(--bg-color);
  color: var(--bg-color);
  background-color: var(--color2);
  filter: drop-shadow(0 0 2em var(--color2));
  transition: filter 0.3s ease, background-color var(--ttime);
}
*/
/* Header styles */
header {
  text-align: center;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it's above other content */
  background-color: var(--bg-color);
  transition: background-color var(--ttime) ease, border-bottom-color var(--ttime) ease;
  border-bottom: 1px solid var(--color);
}

/* Navigation styles */
nav {
  width: 100%;
  font-size: 20px;
}

nav menu {
  list-style-type: none;
}

nav menu li {
  display: inline;
  margin-right: 2rem;
}

nav menu li a, .opl {
  text-decoration: none;
  font-weight: bold;
  padding: 0.5em 1em;
}

nav menu li a:hover, .opl:hover {
  color: var(--color2);
  transition: color 1s ease;
}

menu {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}


.toggle-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.toggle-container p {
  margin-right: 0.5rem;
}

.theme-toggle-checkbox {
  display: none;
}

.theme-toggle-label:hover {
  filter: drop-shadow(0 0 .75rem var(--color2));
  transition: filter 0.3s ease;
}

.theme-toggle-label {
  display: inline-block;
  width: 2.5rem;
  height: 1.25rem;
  background-color: var(--color);
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  transition: background-color var(--ttime) ease;
}

.theme-toggle-label::after {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--bg-color);
  border-radius: 50%;
  position: absolute;
  top: 0.15rem;
  left: 0.15rem;
  transition: transform 0.3s, background-color var(--ttime) ease;
}

.theme-toggle-checkbox:checked + .theme-toggle-label {
  background-color: var(--color);
}

.theme-toggle-checkbox:checked + .theme-toggle-label::after {
  transform: translateX(1.25rem);
}

.punchline {
  margin: 5rem;
}


/*=== Drawing effect */
.draw-border {
  color: var(--color);
  transition: color 0.25s 0.08333s;
  position: relative;
}

.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: var(--color2);
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: var(--color2);
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.opl {
  font-size: 1.5rem;
}

#Home {
  margin-bottom: 10rem;
}
#WhatWeDo {
  margin-right: 12rem;
  margin-left: 12rem;
  background-color: var(--bg-color-t);
  color: var(--color);
  transition: background-color var(--ttime) ease, color var(--ttime) ease;
}

.skills-container {
  padding: 1rem;
}

.skills-grid {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  border: 0.3rem solid var(--color);
  transition: border-color var(--ttime) ease;
}

.skill {
  flex: 1;
  margin: 0;
  padding: 1rem;
  border-right: 2px solid var(--color);
  transition: border-color var(--ttime) ease;
}

.skill:last-child {
  border-right: none;
}

.skill h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.skill p {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .skills-grid {
    flex-direction: column;
  }

  .skill {
    border-right: none;
    border-bottom: 2px solid var(--color);
  }

  .skill:last-child {
    border-bottom: none;
  }
}
