:root {
  font-family: 'Anton', sans-serif;
  --scroll-speed: 20s;
  --background-overlay: rgba(0, 0, 0, 0.7);
  --background-code: #3b3b3b;
  --bg-color-light: #dfc6a0;
  --bg-color-dark: #242424;
  --bg-color-t-light: #dfc6a000;
  --bg-color-t-dark: #2424240a;
  --color-light: #242424;
  --color-dark: #efedea;
  --color2-light: #004aad;
  --color2-dark: #f6821f;
  --filter-light:
    brightness(0) saturate(100%) invert(12%) sepia(17%) saturate(0%)
    hue-rotate(213deg) brightness(125%) contrast(105%);
  --filter-dark:
    brightness(0) saturate(100%) invert(100%) sepia(48%)
    saturate(398%) hue-rotate(295deg) brightness(103%) contrast(87%);
  --ttime: 0.5s;
  --atime: 0.75s;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

.mono {
  font-family: 'Kode Mono', monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  scroll-margin-top: 100px;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  color: var(--color);
  text-align: center;
  transition:
    background-color var(--ttime) ease,
    color var(--ttime) ease;
}

body.light {
  --bg-color: var(--bg-color-light);
  --bg-color-t: var(--bg-color-t-light);
  --color: var(--color-light);
  --color2: var(--color2-light);
  --filter: var(--filter-light);
}

body.dark {
  --bg-color: var(--bg-color-dark);
  --bg-color-t: var(--bg-color-t-dark);
  --color: var(--color-dark);
  --color2: var(--color2-dark);
  --filter: var(--filter-dark);
}

.outline {
  font-size: 1.1rem;
  display: inline;
  color: var(--bg-color);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--color2);
  transition:
    color var(--ttime) ease,
    -webkit-text-stroke-color var(--ttime) ease;
}

.o0 {
  font-size: 10rem;
}

.o1 {
  font-size: 3.1rem;
}

.o2 {
  font-size: 1.9rem;
}

.o3 {
  font-size: 1.1rem;
}

.svgs {
  margin-top: 4rem;
  filter: var(--filter);
  transition: filter var(--ttime) ease;
  height: auto;
  max-width: 95%;
  display: block;
  margin: 1rem auto;
}

@media (max-width: 768px) {
  .svgs {
    width: 100%;
    height: auto;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .svgs {
    width: 90%;
    height: auto;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
  line-height: 1.1;

}

h3 {
  font-size: 1.2em;
  line-height: 1.1;
}

p {
  font-size: 1em;
  line-height: 1.5;
}

a {
  color: var(--color);
  text-decoration: none;
  transition: color var(--atime) ease;
  cursor: pointer;
}

button {
  background-color: var(--bg-color);
  color: var(--color);
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color var(--atime) ease;
  font-family: inherit;
  font-size: inherit;
}

.draw-border {
  position: relative;
}

.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: var(--color2);
}

.draw-border:hover::before, .draw-border:hover::after {
  border-color: var(--color2);
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.button {
  border: 2px solid var(--color);
  padding: 0.5em 1em;
}

.button:hover {
  border-color: var(--bg-color);
}

.section {
  margin-bottom: 30rem;
}

/* //////////////////////////////////////////////// */
/* //////             CONTENT STUFF           ///// */
/* //////////////////////////////////////////////// */

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: var(--bg-color);
  transition:
    background-color var(--ttime) ease,
    border-bottom-color var(--ttime) ease;
  border-bottom: 1px solid var(--color);
  padding: 1rem 2rem;
}

nav {
  display: flex;
  font-size: 1.2rem;
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 2rem;
}

nav li a {
  padding: 0.5em 1em;
}

.toggle-container {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.toggle-container p {
  margin-right: 0.5rem;
}

.theme-toggle-checkbox {
  display: none;
}

.theme-toggle-label:hover {
  filter: drop-shadow(0 0 .75rem var(--color2));
  transition: filter 0.3s ease;
}

.theme-toggle-label {
  display: inline-block;
  width: 2.5rem;
  height: 1.25rem;
  background-color: var(--color);
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
  transition: background-color var(--ttime) ease;
}

.theme-toggle-label::after {
  content: '';
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--bg-color);
  border-radius: 50%;
  position: absolute;
  top: 0.15rem;
  left: 0.15rem;
  transition:
    transform var(--ttime) ease,
    background-color var(--ttime) ease;
}

.theme-toggle-checkbox:checked + .theme-toggle-label {
  background-color: var(--color);
}

.theme-toggle-checkbox:checked + .theme-toggle-label::after {
  transform: translateX(1.25rem);
}

/* //////////////////////////////////////////////// */
/* //////                 HOME                ///// */
/* //////////////////////////////////////////////// */

.terminal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  margin-bottom: 3rem;
}

.terminal {
  text-align: left;
  font-size: 1.6rem;
  width: 65%;
}

/* //////////////////////////////////////////////// */
/* //////                SKILLS               ///// */
/* //////////////////////////////////////////////// */

#WhatWeDo {
  margin-right: 12rem;
  margin-left: 12rem;
  margin-top: 16rem;
  background-color: var(--bg-color-t);
  color: var(--color);
  transition:
  background-color var(--ttime) ease,
  color var(--ttime) ease;
}

.skills-container {
  padding: 1rem;
}

.skills-grid {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  border: 0.3rem solid var(--color);
  transition: border-color var(--ttime) ease;
}

.skill {
  flex: 1;
  margin: 0;
  padding: 1rem;
  border-right: 2px solid var(--color);
  transition: border-color var(--ttime) ease;
  position: relative;
  overflow: hidden;
}

.skill:last-child {
  border-right: none;
}

.skill-image {
  width: 90%;
  height: auto;
  border: 4px solid var(--color);
  margin-bottom: 1.5rem; 
}

.wrpr {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 2rem;
  text-align: left;
}

.scrolling-background {
  text-align: left;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000%;
  overflow: hidden;
  z-index: -1;
  color: var(--background-code);
  white-space: pre-wrap;
  animation: scrollBackground var(--scroll-speed) linear infinite;
  font-size: 1rem;
  pointer-events: none;
}

@keyframes scrollBackground {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-80%);
  }
}

@media (max-width: 768px) {
  .skills-grid {
    flex-direction: column;
  }

  .skill {
    border-right: none;
    border-bottom: 2px solid var(--color);
  }

  .skill:last-child {
    border-bottom: none;
  }
}

/* //////////////////////////////////////////////// */
/* //////               PROJECTS              ///// */
/* //////////////////////////////////////////////// */

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.project {
  border: 3px solid var(--color);
  padding: 1rem;
  background-color: var(--bg-color-t);
  transition:
    background-color var(--ttime) ease,
    color var(--ttime) ease,
    border-color var(--ttime) ease,
    transform var(--ttime) ease;
  text-align: center;
  
}

.project h3 {
  margin: 0.5rem 0;
}

.project:hover {
  border-color: var(--bg-color);
  color: var(--color);
  text-decoration: none;
  transform: scale(1.05);
  transition:
    transform var(--ttime) ease;
}

.project-image {
  width: 95%;
  height: auto;
  border: 4px solid var(--color);
  margin-bottom: 1.5rem; 
}

@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

/* //////////////////////////////////////////////// */
/* //////               CONTACT               ///// */
/* //////////////////////////////////////////////// */

#contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3rem;
  border-bottom: var(--color) 2px solid;
  align-items: center;
}

#right {
  width: 401px;
}

.contact {
  height: 100%;
  padding: 2rem;
}

.email {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.email:hover {
  color: var(--color2);
  text-decoration: underline;
}

#links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;  
}

#links-container li {
  margin: 0 1rem;
  display: inline;
}

.links {
  margin: 0 1rem;
}

#footer-img {
  width: 8%;
}

.cta {
  display: flex;
  padding: 10px 45px;
  text-decoration: none;
  font-size: 2rem;
  color: var(--color);
  background: var(--bg-color-t);
  transition: 1s;
  box-shadow: 0px 0px 0 var(--bg-color);
  transform: skewX(-15deg);
}

.cta:focus {
  outline: none; 
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 var(--color2);
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

  span {
    transform: skewX(15deg) 
  }

  span:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: var(--color);
  }
  50% {
    fill: var(--color2);
  }
  100% {
    fill: var(--color);
  }
}

/* //////////////////////////////////////////////// */
/* //////                FORM                 ///// */
/* //////////////////////////////////////////////// */

#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#popup-content {
  background-color: var(--bg-color);
  padding: 20px;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  position: relative;
  min-width: 25rem;
  transition: background-color var(--ttime) ease;
}

#menu {
  display: flex;
  justify-content: space-between;
  margin: 0.75rem;
}

#menu h2 {
  margin: 0rem;
}

form {
  margin: 0 auto;
  padding: 1rem;
}

label, form p {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  margin-top: 0;
}

.input-box, input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--color);
  border-radius: 5px;
  box-sizing: border-box;
}

textarea {
  height: 4rem;
}

#sent {
  text-align: center;
  margin: 5rem;
}

form input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  color: var(--color);
  margin: 0;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid var(--color);
  border-radius: 0;
  transform: translateY(-0.075em);
  place-content: center;
  vertical-align: middle;

}

form input[type='checkbox']::before {
  content: '';
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--color2);
}

form input[type='checkbox']:checked::before {
  transform: scale(1);
  border-color: transparent;
  background: var(--color2) border-box;
  box-shadow: 0 0 0 0.3em inset #fff;
}

form input[type='checkbox']:hover {
  box-shadow: 0 0 0 0.15em var(--color2);
}

label span {
  vertical-align: middle;
  font-size: 0.9rem;
}

form input[type='checkbox']:checked {
  border-color: transparent;
  background: var(--color2) border-box;
  box-shadow: 0 0 0 0.3em inset var(--bg-color);
}

/* //////////////////////////////////////////////// */
/* //////                MOBILE               ///// */
/* //////////////////////////////////////////////// */

@media (max-width: 768px) {
  #cbox {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  #cbox label {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .input-box {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid var(--color);
    border-radius: 4px;
  }

  #cbox input[type='checkbox'] {
    width: auto;
  }
}